* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* min-width: 390px;
    max-width: 844px;
    min-height: 390px;
    max-height: 844px; */
}

.Main {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 10px 10px 10px;
    
}

img {
    width: 200px;
    height: 100px;
    border-radius: 5%;
}

.menu {
    width: 200px;
    word-wrap: break-word;
}